<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircookies.smtworkordermanagement.mapper.LineMapper">

    <!-- 添加产线 -->
    <insert id="addLine" parameterType="com.aircookies.smtworkordermanagement.entity.Line" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO line (name,
                          description,
                          create_time,
                          update_time)
        VALUES (#{name},
                #{description},
                #{createTime},
                #{updateTime})
    </insert>

    <!-- 根据ID查询产线 -->
    <select id="findLineById" resultType="com.aircookies.smtworkordermanagement.entity.Line">
        SELECT id,
               name,
               description,
               create_time,
               update_time
        FROM line
        WHERE id = #{id}
    </select>

    <!-- 查询所有产线 -->
    <select id="findAll" resultType="com.aircookies.smtworkordermanagement.entity.Line">
        SELECT id,
               name,
               description,
               create_time,
               update_time
        FROM line
        ORDER BY create_time DESC
    </select>

    <!-- 更新产线 -->
    <update id="updateLine" parameterType="com.aircookies.smtworkordermanagement.entity.Line">
        UPDATE line
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除产线 -->
    <delete id="deleteLine">
        DELETE
        FROM line
        WHERE id = #{id}
    </delete>

    <!--    统计每条产线在指定日期范围内的计划数量和完成数量-->
    <select id="statistics" resultType="com.aircookies.smtworkordermanagement.dto.LineOutputDTO">
        SELECT line.id                                AS line_id,
               line.name                              AS line_name,
               SUM(COALESCE(wo.quantity, 0))          AS total_plan_quantity,
               SUM(IF(wo.status = 2, wo.quantity, 0)) AS completed_quantity,
               SUM(IF(wo.status = 1, wo.quantity, 0)) AS producing_quantity,
               SUM(IF(wo.status = 0, wo.quantity, 0)) AS pending_quantity,
               SUM(IF(wo.status = 3, wo.quantity, 0)) AS closed_quantity
        FROM line
                 LEFT JOIN work_order wo ON line.id = wo.line_id
            AND wo.create_time &gt;= #{startTime}
            AND wo.create_time &lt; DATE_ADD(#{endTime}, INTERVAL 1 DAY)
        GROUP BY line.id, line.name
        ORDER BY line.id
    </select>

</mapper>
