<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircookies.smtworkordermanagement.mapper.ProductMapper">

    <!-- 添加产品 -->
    <insert id="addProduct" parameterType="com.aircookies.smtworkordermanagement.entity.Product" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO product (code,
                             name,
                             spec,
                             image,
                             create_time,
                             update_time)
        VALUES (#{code},
                #{name},
                #{spec},
                #{image},
                #{createTime},
                #{updateTime})
    </insert>

    <!-- 根据ID查询产品 -->
    <select id="findProductById" resultType="com.aircookies.smtworkordermanagement.entity.Product">
        SELECT id,
               code,
               name,
               spec,
               image,
               create_time,
               update_time
        FROM product
        WHERE id = #{id}
    </select>

    <!-- 查询所有产品 -->
    <select id="findAll" resultType="com.aircookies.smtworkordermanagement.entity.Product">
        SELECT id,
               code,
               name,
               spec,
               image,
               create_time,
               update_time
        FROM product
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询产品 -->
    <select id="productList" resultType="com.aircookies.smtworkordermanagement.entity.Product">
        SELECT id,
        code,
        name,
        spec,
        image,
        create_time,
        update_time
        FROM product
        <where>
            <if test="code != null and code != ''">
                code like CONCAT('%', #{code}, '%')
            </if>
            <if test="name != null and name != ''">
                name like CONCAT('%', #{name}, '%')
            </if>
            <if test="createTime != null">
                create_time like CONCAT('%', #{createTime}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <!-- 更新产品 -->
    <update id="updateProduct" parameterType="com.aircookies.smtworkordermanagement.entity.Product">
        UPDATE product
        <set>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="spec != null and spec != ''">
                spec = #{spec},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除产品 -->
    <delete id="deleteProduct">
        DELETE
        FROM product
        WHERE id = #{id}
    </delete>

    <!-- 批量删除产品 -->
    <delete id="deleteBatch">
        DELETE
        FROM product
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--    查询指定日期内各个产品的产量统计-->
    <select id="statistics" resultType="com.aircookies.smtworkordermanagement.dto.ProductionQuantityDTO">
        SELECT product.id                             AS product_id,
               product.code                           AS product_code,
               product.name                           AS product_name,
               product.spec                           AS product_spec,
               SUM(COALESCE(wo.quantity, 0))          AS total_plan_quantity,
               SUM(IF(wo.status = 2, wo.quantity, 0)) AS completed_quantity,
               SUM(IF(wo.status = 1, wo.quantity, 0)) AS producing_quantity,
               SUM(IF(wo.status = 0, wo.quantity, 0)) AS pending_quantity,
               SUM(IF(wo.status = 3, wo.quantity, 0)) AS closed_quantity
        FROM product
                 LEFT JOIN work_order wo ON product.id = wo.product_id
            AND wo.create_time &gt;= #{startTime}
            AND wo.create_time &lt; DATE_ADD(#{endTime}, INTERVAL 1 DAY)
        GROUP BY product.id, product.code, product.name, product.spec
        ORDER BY product.id;
    </select>

</mapper>
