<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircookies.smtworkordermanagement.mapper.WorkOrderMapper">

    <!-- 添加工单 -->
    <insert id="addWorkOrder" parameterType="com.aircookies.smtworkordermanagement.entity.WorkOrder"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO work_order (product_id,
                                line_id,
                                quantity,
                                status,
                                priority,
                                planning_time,
                                creator_id,
                                remarks,
                                create_time,
                                update_time)
        VALUES (#{productId},
                #{lineId},
                #{quantity},
                #{status},
                #{priority},
                #{planningTime},
                #{creatorId},
                #{remarks},
                #{createTime},
                #{updateTime})
    </insert>

    <!-- 根据ID查询工单 -->
    <select id="findWorkOrderById" resultType="com.aircookies.smtworkordermanagement.entity.WorkOrder">
        SELECT work_order.id,
               work_order.product_id,
               product.name  as productName,
               work_order.line_id,
               line.name     as lineName,
               work_order.quantity,
               work_order.status,
               work_order.priority,
               work_order.planning_time,
               work_order.creator_id,
               sys_user.name as creatorName,
               work_order.remarks,
               work_order.create_time,
               work_order.update_time
        FROM work_order
                 LEFT JOIN product ON work_order.product_id = product.id
                 LEFT JOIN line ON work_order.line_id = line.id
                 LEFT JOIN sys_user ON work_order.creator_id = sys_user.id
        WHERE work_order.id = #{id}
    </select>

    <!-- 查询所有工单 -->
    <select id="findAll" resultType="com.aircookies.smtworkordermanagement.entity.WorkOrder">
        SELECT work_order.id,
               work_order.product_id,
               product.name  as productName,
               work_order.line_id,
               line.name     as lineName,
               work_order.quantity,
               work_order.status,
               work_order.priority,
               work_order.planning_time,
               work_order.creator_id,
               sys_user.name as creatorName,
               work_order.remarks,
               work_order.create_time,
               work_order.update_time
        FROM work_order
                 LEFT JOIN product ON work_order.product_id = product.id
                 LEFT JOIN line ON work_order.line_id = line.id
                 LEFT JOIN sys_user ON work_order.creator_id = sys_user.id
        ORDER BY create_time DESC
    </select>


    <!--    条件查询工单-->
    <select id="queryWorkOrder" resultType="com.aircookies.smtworkordermanagement.entity.WorkOrder">
        SELECT work_order.id,
        work_order.product_id,
        product.name as productName,
        work_order.line_id,
        line.name as lineName,
        work_order.quantity,
        work_order.status,
        work_order.priority,
        work_order.planning_time,
        work_order.creator_id,
        sys_user.name as creatorName,
        work_order.remarks,
        work_order.create_time,
        work_order.update_time
        FROM work_order
        LEFT JOIN product ON work_order.product_id = product.id
        LEFT JOIN line ON work_order.line_id = line.id
        LEFT JOIN sys_user ON work_order.creator_id = sys_user.id
        <where>
            <if test="id != null">
                AND work_order.id = #{id}
            </if>
            <if test="status != null">
                AND work_order.status = #{status}
            </if>
            <if test="priority != null">
                AND work_order.priority = #{priority}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <!-- 更新工单 -->
    <update id="updateWorkOrder" parameterType="com.aircookies.smtworkordermanagement.entity.WorkOrder">
        UPDATE work_order
        <set>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="lineId != null">
                line_id = #{lineId},
            </if>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="priority != null">
                priority = #{priority},
            </if>
            <if test="planningTime != null">
                planning_time = #{planningTime},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除工单 -->
    <delete id="deleteWorkOrder">
        DELETE
        FROM work_order
        WHERE id IN
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- ==================== 工序报工相关SQL ==================== -->

    <!-- 添加工序报工表 -->
    <insert id="addWorkProcessReport" parameterType="com.aircookies.smtworkordermanagement.entity.WorkProcessReport">
        INSERT INTO work_process (order_id,
                                  process_seq,
                                  qualified_quantity,
                                  bad_quantity,
                                  operator_id,
                                  remarks,
                                  start_time,
                                  finish_time,
                                  create_time,
                                  update_time)
        VALUES (#{orderId},
                #{processSeq},
                #{qualifiedQuantity},
                #{badQuantity},
                #{operatorId},
                #{remarks},
                #{startTime},
                #{finishTime},
                #{createTime},
                #{updateTime})
    </insert>

    <!-- 根据工单ID查询工序报工表 -->
    <select id="findWorkProcessReport" resultType="com.aircookies.smtworkordermanagement.entity.WorkProcessReport">
        SELECT order_id,
               process_seq,
#                status,
               qualified_quantity,
               bad_quantity,
               operator_id,
               remarks,
               start_time,
               finish_time,
               create_time,
               update_time
        FROM work_process
        WHERE order_id = #{orderId}
    </select>

    <!--根据工单ID和工序序号查询工序报工表-->
    <select id="findByIdAndSeq" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM work_process
        WHERE order_id = #{orderId}
          AND process_seq = #{processSeq}
    </select>
    <!--    查询所有工序报工表-->
    <select id="findWorkProcessReportAll"
            resultType="com.aircookies.smtworkordermanagement.entity.WorkProcessReport">
        SELECT id,
               order_id,
               process_seq,
#                status,
               qualified_quantity,
               bad_quantity,
               operator_id,
               remarks,
               start_time,
               finish_time,
               create_time,
               update_time
        FROM work_process
        ORDER BY create_time DESC
    </select>

    <!-- 更新工序报工表 -->
    <update id="updateWorkProcessReport" parameterType="com.aircookies.smtworkordermanagement.entity.WorkProcessReport">
        UPDATE work_process
        <set>
<!--            <if test="status != null">-->
<!--                status = #{status},-->
<!--            </if>-->
            <if test="qualifiedQuantity != null">
                qualified_quantity = #{qualifiedQuantity},
            </if>
            <if test="badQuantity != null">
                bad_quantity = #{badQuantity},
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE order_id = #{orderId}
        AND process_seq = #{processSeq}
    </update>

    <!-- 根据工单ID删除工序报工表 -->
    <delete id="deleteWorkProcessReport">
        DELETE
        FROM work_process
        WHERE order_id = #{orderId}
    </delete>

</mapper>
